{% extends 'main/header.html' %}


{% block content %}
    {% autoescape off %}
    {{ myhtml}}

    <div class="contenido">
    <ul class="contacto">
    <li>Adrián Ernesto Rodríguez</li>
    <li><strong>E-mail: </strong> oms.1001@gmail.com</li>
    <li>Tel: 73077824</li>
    <li><a href="https://www.instagram.com/adrinuk/">instagram.com/adrinuk</a></li>
    <li><a href="https://www.behance.net/oms1001">behance.net/oms1001</a></li>
    </ul>
    </div>

    </p>
    {% endautoescape %}

{% endblock %}
