<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/stylegeneral.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
    <!-- Compiled and minified CSS -->
</head>
<body>
        <div class="titulo">
        <p id="idioma"> <a href="/">Español</a>/<a href="construccion_quechua">Quechua</a>/<a href="construccion">English</a></p>
        <h1> <a id="tit" href="/">Adrián Rodríguez</a></h1>
        <h2> <a id="tit" href="/">Interacción y redes </a></h2></a>
            {% if messages %}
        {% for message in messages %}
            <p class="error"> {{message}} </p>
        {% endfor %}
    {% endif %}

    </div>
    <div class="columna">
        <ul>
            <li><a href="">Obras</a></li>
                <ul>
                    <li>
                    {% for feh in fechas %}
                        <a href="{{feh.category_slug}}">{{feh.obra_fecha}}</add>
                    {% endfor %}
                    </li>
                </ul>
            <li><a href="manifiesto">Manifiesto</a></li>
            <li><a>Noticias</a></li>
            <li><a href="contacto">Contacto</a></li>
            <br></br>
            <li><a href="register">Regístrate</a></li>
            <li><a href="login">Ingresar</a></li>
            <li><a href="logout">Salir</a></li>
        </ul>
    </div>

    <div class="footer">
        Página diseñada con <a href="https://www.djangoproject.com">Django</a>
    </div>






  {% block content %}
  {% endblock %}
</body>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>