<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/stylegeneral.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> 
    <!-- Compiled and minified CSS -->
</head>
<body>
        <div class="titulo">
        <p id="idioma"> <a href="/">Español</a>/<a href="construccion_quechua">Quechua</a>/<a href="construccion">English</a></p>
        <h1> <a id="tit" href="/">Adrián Rodríguez</a></h1>
        <h2> <a id="tit" href="/">Yachay tarpuypi rimanakuy, antañiqiq llika </a></h2></a>
            {% if messages %}
        {% for message in messages %}
            <p class="error"> {{message}} </p>
        {% endfor %}
    {% endif %}

    </div>
    <div class="columna">
        <ul>
            <li><a href="">Llamk'akuy</a></li>
                <ul>
                    <li><a>2019</a></li>
                    <li><a>2018</a></li>
                    <li><a>2017</a></li>
                </ul>
            <li><a href="construccion_quechua">Mañaqa</a></li>
            <li><a>Willay</a></li>
            <li><a href="contacto">Tupay</a></li>
            <br></br>
            <li><a href="register">Runa yupay</a></li>
            <li><a href="login">Yaykuy</a></li>
            <li><a href="logout">Yarqamuy</a></li>
        </ul>
    </div>

    <div class="footer">
        Página diseñada con <a href="https://www.djangoproject.com">Django</a>
    </div>






  {% block content %}
  {% endblock %}
</body>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>