{% extends 'main/header.html' %}

{% block content %}
{% autoescape off %}
{{ myhtml}}
<div class="contenido">

<p>
¿Cómo pensar una ritualidad en una posmodernidad quebrada? ¿O tal
vez el quiebre nos permita experimentar, al fin, una ritualidad
escogida? ¿Se puede escoger los rituales que seguimos, o es
necesaria, la validación de una comunidad o una carga histórica?
Intento de quebrarse de unx mismx
Intento de desarmar la identidad
Intento de romper la continuidad que une los recuerdos que
conforman nuestra línea de conciencia.
Repensar la comunidad, ¿Debemos relacionarnos cómo individuos o
cómo conciencias múltiples? Estas conciencias múltiples; ¿Son <em>naya </em>
(uno) o <em> ayllu </em> (todos)?
</p>

<p>
Debatir sobre lo post-humano, una línea fundamental en las
búsquedas que persigo, que intentan ser arte, es debatir sobre los
límites mismos de la conciencia y de lo que la construye. Ya Donna
Haraway, desde el feminismo, pensaba muy en profundidad cómo sería
posible un
 manifiesto cyborg. En este manifiesto, se plantea que
al pensar lo cyborg se cuestionan los límites de los humano, del
humano con lo animal, del humano con la máquina y los límites
impuesto de género. Además de las posibilidades de expansión,
continuidad o ruptura con el ambiguo y malinterpretado curso de la
naturaleza, y los dilemas éticos que conlleva, nos invita a pensar
nuestro propio tiempo. Un tiempo, dónde el
 cerebro, sea de la
"generación" que sea, está configurado de una /otra manera; una
configuración que ya no sigue una línea narrativa, sino una
constelación de links.
Pensar nuestro tiempo no debería convertirse en un delirio
teórico ni otro debate para las aulas. Debería ser, también, un
llamado a la acción. Una intervención respecto a problemas que
suceden en el momento pero caer en la ilusión de novedad.
</p>
{% endautoescape %}

</div>
{% endblock %}
